@import './gameDescription.css';
@import './computerDescription.css';
@import './loader.css';
body {
    background-color: black;
    overflow: hidden;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
}